<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Manage images - E-Paper Display</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1 class="no_margin">Manage BMP images</h1>
    <ul>
        {% for image in images %}
            <li>
                {{ image }}
                <button onclick="displayImage('{{ image }}')">Display</button>
                <button onclick="renameImage('{{ image }}')">Rename</button>
                <button onclick="deleteImage('{{ image }}')">Delete</button>
            </li>
        {% endfor %}
    </ul>
    <br>
    <a href="/">Back to upload</a>
</body>
</html>
